<p id="notice"><%= notice %></p>

<h1>Gimgs</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Good</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gimgs.each do |gimg| %>
      <tr>
        <td><%= gimg.link %></td>
        <td><%= gimg.good_id %></td>
        <td><%= link_to 'Show', gimg %></td>
        <td><%= link_to 'Edit', edit_gimg_path(gimg) %></td>
        <td><%= link_to 'Destroy', gimg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gimg', new_gimg_path %>
